<h1>Admin Sign in</h1>

<%= form_for @admin do |f| %>
  <%= f.label 'Username:' %>
  <input type="text" name="admin[username]" id="admin_username" required>
  <br />
  <%= f.label 'Password:' %>
  <input type="password" name="admin[password]" id="admin_password" required>
  <br />

  <%= f.label 'Stay Signed in?' %>
  <%= f.check_box :stay_signed_in, :checked => true %>
  <br />

  <%= f.submit 'Sign in' %>
<% end %>
<br />

<%= link_to 'back to gallery', categories_path %>
