<%= form_for [@category, @work] do |f| %>
  <%= f.label 'Work Name:' %>
  <%= f.text_field :title %>
  <br />

  <%= f.label 'Image:' %>
  <%= f.file_field :image, class: 'file-upload' %>
  <%= render '/shared/hidden_loader' %>
  <br />

  <%= f.label 'Caption:' %>
  <%= f.text_area :caption %>
  <br /><br />

  <%= f.label 'Place (1 = first place, 2 = second, etc...):' %>
  <%= f.number_field :place, value: @work.position || 1 %>
  <br /><br />

  <div class="position-relative">
    <%= f.submit 'Save changes' %>
    <div class="overlay white opaque hover-reveal hidden" id="upload-helper">
      Wait, file still uploading...
    </div>
  </div>

<% end %>
