<%= form_for @category do |f| %>
  <div class="form-group">
    <%= f.label 'Category title (required):' %>
    <input type="text" name="category[title]" value="<%= @category.title %>" id="category_title" required>
    <br />
  </div>
  <div class="form-group">
    <%= f.label 'Category cover image:' %>
    <%= f.file_field :image, class: 'file-upload' %>
    <%= render '/shared/hidden_loader' %>
    <br />
  </div>
  <div class="form-group">
    <%= f.label 'Place, 1 = first place, 2 = second, etc...' %>
    <%= f.number_field :place, value: @category.position || 1 %>
    <br />
  </div>
    <div class="position-relative">
      <%= f.submit 'Save changes' %>
      <div class="overlay white opaque hover-reveal hidden" id="upload-helper">
        Wait, file still uploading...
      </div>
    </div>
<% end %>
<br />
