<div class="row covers">
  <% @categories.each do |category| %>

    <div class="col-md-3 col-sm-4 col-6 covers-col position-relative p-2">
      <div class="square-img-wrapper" style="background-image: url(<%= image_url(category.image.url) %>)"></div>
      <div class="container-fluid pt-1">
        <h5 class="delicate text-center text-muted"><%= category.title %></h5>
      </div>
      <a href="<%= category_path(category.id) %>" class="subtle"><div class="overlay white opaque hover-reveal"></div></a>
    </div>

      <% if session[:admin] %>
        <%= button_to 'Delete', "/categories/#{category.id}", method: :delete %>
        <%= button_to 'Edit', edit_category_path(category.id), method: :get %>
      <% end %>

  <% end %>
</div>
