<div class="row covers">
  <% @categories.each do |category| %>

    <div class="col-md-3 col-sm-4 col-6 covers-col position-relative p-2">
      <a href="<%= category_path(category.id) %>" class="subtle"><div class="square-img-wrapper" style="background-image: url(<%= image_url(category.image.url) %>)"></div>
      <div class="container-fluid pt-1"></a>
        <h5 class="delicate text-center text-muted"><%= category.title %></h5>
      </div>
      <% if session[:admin] %>
        <div class="admin-box">
          <h4>Position: <%= category.position %></h4>
          <%= button_to 'Delete', "/categories/#{category.id}", method: :delete %>
          <%= button_to 'Edit', edit_category_path(category.id), method: :get %>
        </div>
      <% else %>
        <a href="<%= category_path(category.id) %>" class="subtle"><div class="overlay white opaque hover-reveal"></div></a>
      <% end %>
    </div>
  <% end %>
</div>
