<div class="row covers">
  <% @categories.each do |category| %>

    <div class="col-sm-3 covers-col">
      <a href="<%= category_path(category.id) %>"><%= image_tag category.image.url, class: "img-fluid" %></a>
      <a href="<%= category_path(category.id) %>"><h5 class="delicate text-center text-muted muted-link"><%= category.title %></h5></a>


      <% if session[:admin] %>
        <%= button_to 'Delete', "/categories/#{category.id}", method: :delete %>
        <%= button_to 'Edit', edit_category_path(category.id), method: :get %>
      <% end %>

    </div>

  <% end %>
</div>
