<div class="row covers">
  <% @categories.each do |category| %>

    <div class="col-md-3 col-sm-4 col-6 covers-col position-relative p-2">
      <a href="<%= category_path(category.id) %>" class="subtle">
        <div class="position-relative loading-overlay-holder">
          <div class="square-img-wrapper opaque" data-url="<%= image_url(category.image.url) %>"></div>
          <div class="overlay d-flex align-items-center justify-content-center loader-holder">
            <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
          </div>
        </div>
      <div class="container-fluid pt-1"></a>
        <h5 class="delicate text-center text-muted"><%= category.title %></h5>
      </div>
      <% if session[:admin] %>
        <div class="admin-box">
          <h4>Position: <%= category.position %></h4>
          <%= button_to 'Delete', "/categories/#{category.id}", method: :delete %>
          <%= button_to 'Edit', edit_category_path(category.id), method: :get %>
        </div>
      <% else %>
        <a href="<%= category_path(category.id) %>" class="subtle"><div class="overlay white opaque hover-reveal"></div></a>
      <% end %>
    </div>
  <% end %>
</div>

<div class="row breadcrumbs">
  <div class="col-12">
    <% if session[:admin] %>
      <div class="row breadcrumbs">
        <%= link_to 'Create New Category', new_category_path, method: :get %>
      </div>
    <% end %>
  </div>
</div>
