<h1>Create new Category</h1>

<%= form_for @category do |f| %>
  <%= f.label 'Category title:' %>
  <%= f.text_field :title %>
  <br />

  <%= f.label 'Category cover image:' %>
  <%= f.file_field :image, id: "file-upload" %>
  <br />

  <%= f.label 'Place:' %>
  <%= f.number_field :place, value: 1 %>
  <br /><br />

  <div class="container">
    <%= f.submit 'Create' %>
    <div class="overlay opaque hover-reveal" id="upload-helper">
      Wait, No Image Uploaded yet!
    </div>
  </div>

<% end %>

<a href="javascript:history.back()"> Cancel</a>
