<div class="row covers">
  <% @works.each do |work| %>

  <div class="col-sm-3 covers-col">
    <a href="<%= work_path(work.id) %>" class="subtle"><div class="container-fluid position-relative p-0">
      <div class="overlay white opaque"></div>
      <%= image_tag work.image.url, class: "img-fluid" %>
      <h5 class="delicate text-center text-muted"><%= work.title %></h5>
    </div></a>
  </div>

  <% end %>
</div>

<div class="container-fluid fixed-bottom slider fadein p-3 text-center">
  <h3><%= link_to "Return Home", categories_path, class: 'nav-link' %></h3>
  <% if session[:admin] %>
    <%= link_to "Upload new artwork to #{@category.title}", new_category_works_path(@category.id) %>
  <% end %>
</div>
