<div class="row covers">
  <% @works.each do |work| %>

  <div class="col-sm-3 covers-col">
    <a href="<%= work_path(work.id) %>" class="subtle"><div class="container-fluid position-relative p-0">
      <div class="overlay white opaque"></div>
      <div class="square-img-wrapper" style="background-image: image-url(assets/images/<%= work.image.url %>);">
      </div>
      <h5 class="delicate text-center text-muted"><%= work.title %></h5>
    </div></a>
  </div>

  <% end %>

</div>
<div class="row breadcrumbs">
  <div class="col-12">
    <a href="<%= categories_path%>" class="subtle text-muted"><h6 class="delicate text-uppercase">Return to Portfolio</h6></a>
    <% if session[:admin] %>
      <div class="row breadcrumbs">
        <%= link_to "Upload new artwork to #{@category.title}", new_category_works_path(@category.id) %>
      </div>
    <% end %>
  </div>
</div>
