<div class="row covers">
  <% count = 1 %>

  <% @works.each do |work| %>

  <div class="col-lg-2 col-md-3 col-sm-4 col-6 covers-col p-1">
    <a href="<%= work_path(work.id) %>" class="subtle"><div class="container-fluid position-relative p-0">
      <div class="overlay white opaque hover-reveal work-overlay" data-title="<%= work.title %>" data-caption="<%= work.caption %>" data-url="<%= image_url(work.image.url) %>" data-number="<%= count %>" id="work-<%= count %>"></div>
      <div class="square-img-wrapper" style="background-image: url(<%= image_url(work.image.url) %>)">
      </div>
    </div></a>
  </div>

    <% count += 1 %>
  <% end %>

</div>

<div class="row breadcrumbs">
  <div class="col-12">
    <a href="<%= categories_path%>" class="subtle text-muted"><h6 class="delicate text-uppercase">Return to Portfolio</h6></a>
    <% if session[:admin] %>
      <div class="row breadcrumbs">
        <%= link_to "Upload new artwork to #{@category.title}", new_category_works_path(@category.id) %>
      </div>
    <% end %>
  </div>
</div>

<div class="overlay black opaque hidden work-show text-light">
  <div class="work-overlay-clear">
    <i class="fa fa-times"></i>
  </div>
  <div class="container-fluid d-flex align-items-center p-0" id="work-holder">
    <div class="row justify-content-center align-items-stretch">
      <div class="col-1 work-nav prev p-0">
          <i class="fa fa-angle-left"></i>
      </div>
      <div class="col-md-8 col-9 position-relative p-0">
        <%= image_tag 'default_work.jpg', class: 'img-fluid', id: 'work-image' %>
        <div class="overlay opaque hover-reveal work-overlay" id="work-info">
          <h5 id="work-title">if you can see this something went wrong</h5>
          <p class="smallish" id="work-description">if you can see this something went wrong</p>
        </div>
      </div>
      <div class="col-1 work-nav next p-0">
          <i class="fa fa-angle-right"></i>
      </div>
    </div>
  </div>
</div>
