<!DOCTYPE html>
<html>
  <head>
    <%= render '/shared/head' %>
  </head>

  <body>
    <%= render '/shared/logo' %>
    <main>
      <%= render '/shared/header' %>
      <div class="content-wrapper">
        <%= yield %>
      </div>
    </main>
    <%= render './shared/footer' %>
  </body>
</html>
